In [1]:
lista =["hola","mi nombre", "es"]

In [2]:
"".join(lista)

'holami nombrees'

In [4]:
"/".join(lista)

'hola/mi nombre/es'

In [5]:
string = "Fuiste mi más bonita casualidad"

In [8]:
string.replace("Fuiste","eres")

'eres mi más bonita casualidad'

In [7]:
string

'Fuiste mi más bonita casualidad'

In [9]:
#Split nos ayuda para separar una string para una lista por cada espacio

In [10]:
string.split(" ")

['Fuiste', 'mi', 'más', 'bonita', 'casualidad']

In [11]:
string.lower()

'fuiste mi más bonita casualidad'

In [12]:
string.upper()

'FUISTE MI MÁS BONITA CASUALIDAD'

In [13]:
string.title()

'Fuiste Mi Más Bonita Casualidad'

In [14]:
string.capitalize()

'Fuiste mi más bonita casualidad'

In [ ]:
#

# TUPLAS

tuple()

In [15]:
tuple()

()

In [16]:
amigos=("Edith","Nacho","Rojas")

In [17]:
amigos

('Edith', 'Nacho', 'Rojas')

In [18]:
amigos[0]

'Edith'

In [19]:
amigos[1:3]

('Nacho', 'Rojas')

In [20]:
## Son inmutables, no se pueden modificar los valores de tuplas

amigos[1] = "Daniel"

TypeError: 'tuple' object does not support item assignment

In [21]:
#crear variable a 
a=20
b=15
c=30

numeros = a, b, c

In [22]:
numeros

(20, 15, 30)

In [23]:
type(numeros)

tuple

In [24]:
coordenadas = (19.43, -99.403)

In [25]:
latitud, longitud = coordenadas

In [26]:
latitud

19.43

In [27]:
longitud

-99.403

In [29]:
type(latitud)

float

In [30]:
type(longitud)

float

In [32]:
amigos[1:]

('Nacho', 'Rojas')

In [33]:
amigos[-1:]

('Rojas',)

In [34]:
amigos

('Edith', 'Nacho', 'Rojas')

In [35]:
amigos[:-1]

('Edith', 'Nacho')

In [36]:
frutas = ["manzana","uva","naranja"]

In [38]:
#Genera tuplas con las que contar

ennumerados = list(enumerate(frutas))
ennumerados

[(0, 'manzana'), (1, 'uva'), (2, 'naranja')]

In [39]:
#accedemos a la lista con su primer elemento

ennumerados[0]

(0, 'manzana')

In [40]:
# separamos por elementos 
indice, elemento = ennumerados[0]

In [41]:
indice

0

In [42]:
elemento

'manzana'

# Conjuntos

La bolsa de las bolsas, para agrupar cosas.

In [43]:
conjunto1 = {10,6,2,8,38,89}

In [45]:
conjunto1

{2, 6, 8, 10, 38, 89}

In [46]:
numeros= [5,3,2,6,1,4,8,20]

In [47]:
numeros

[5, 3, 2, 6, 1, 4, 8, 20]

In [48]:
#cambiar lista a conjunto ordena y elimina repetidos

set(numeros)

{1, 2, 3, 4, 5, 6, 8, 20}

In [49]:
conjunto1.add(50)

In [50]:
conjunto1

{2, 6, 8, 10, 38, 50, 89}

In [51]:
conjunto1.remove(50)

In [52]:
conjunto1

{2, 6, 8, 10, 38, 89}

union de conjuntos

a={1,2,3,4,5}
b={4,5,6,7,8,9}

In [53]:
a={1,2,3,4,5}
b={4,5,6,7,8,9}

In [54]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8, 9}

Intersección

a&b

Estan en los dos conjuntos

In [55]:
a&b

{4, 5}

Diferencia de conjuntos

In [56]:
a-b

{1, 2, 3}

In [57]:
b-a

{6, 7, 8, 9}

In [58]:
# UNION exclusiva que aparezcan en A 
a^b

{1, 2, 3, 6, 7, 8, 9}

Condicionales

Operadores básicos para evaluar texto o números

In [59]:
5<10

True

In [60]:
20>45

False

In [61]:
15 == 15

True

In [62]:
14 != 7

True

In [63]:
5>=5

True

In [64]:
17<=1

False

Tablas de verdad

In [66]:
#AND#

#Elemento 1 and elemento 2

In [67]:
False and True

False

In [68]:
True and True

True

OR

In [69]:
#verdadero cuando alguno sea verdadero

In [70]:
False or True

True

In [71]:
False or False

False

NOTE te da lo contrario

In [72]:
not False

True

In [73]:
not True

False

Operadores de pertenencia

In [74]:
frutas

['manzana', 'uva', 'naranja']

In [77]:
"manzana" in  frutas

True

In [78]:
"Sandia" in frutas

False

In [80]:
"manzana" not in frutas

False

Condicionales más complejas

In [85]:
numero1 = int(input("Dame un número:"))

if numero1 >= 0:
    print("Es positivo")
else:
    print("es negativo")

Es positivo

In [86]:
#Teoría de condicionales

#programa que reciba 2 números y que imprima el mayor

num1 = int(input("Dame 1 numero"))
num2 = int(input("Dame otro número"))

if num1 > num2:
    print(f"El número mayor es el {num1}")
else:
    print(f"El número mayor es el {num2}")

El número mayor es el 20

In [88]:
#Teoría de condicionales

#programa que reciba 2 números y que imprima el mayor
#incluir un igual

num1 = int(input("Dame 1 numero"))
num2 = int(input("Dame otro número"))

if num1 > num2:
    print(f"El número mayor es el {num1}")
elif num1 < num2:
    print(f"El número mayor es el {num2}")
else:
    print("Son iguales")

Son iguales

# MAL EJEMPLO

ejemplo elevado al cuadrado

In [89]:
numeros_al_cuadrado = []

numeros_al_cuadrado.append(1**2)
numeros_al_cuadrado.append(2**2)
numeros_al_cuadrado.append(3**2)
numeros_al_cuadrado.append(4**2)

numeros_al_cuadrado

[1, 4, 9, 16]

In [91]:
num_al_cuadra = []

for i in [0,1,2,3,4,5]:
    num_al_cuadra.append(i**2)

num_al_cuadra

[0, 1, 4, 9, 16, 25]

In [92]:
#para escribir un rango puedes

range(15)

range(0, 15)

In [93]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [96]:
num_al_cuadra =[]

for i in range(15):
    num_al_cuadra.append(i **2)
    
num_al_cuadra

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [97]:
frutas

['manzana', 'uva', 'naranja']

In [98]:
for fruta in frutas:
    print(fruta)

manzana
uva
naranja

In [99]:
list(enumerate(frutas))

[(0, 'manzana'), (1, 'uva'), (2, 'naranja')]

In [100]:
for indice, elemento in enumerate(frutas):
    print(f"La fruta {elemento} está en el indice: {indice}")

La fruta manzana está en el indice: 0
La fruta uva está en el indice: 1
La fruta naranja está en el indice: 2

In [105]:
coches = ["Tsuru", "BMW","Mercedes"]
colores = ["blanco", "Negro","rojo"]

In [106]:
len(coches)

3

In [110]:
for i in range (len(coches)):
    print(f("El coche {coches[i]} es de color {colores[i]}"))

NameError: name 'f' is not defined

In [ ]:
#escribir comando y explicar porque es falso o verdadero.